@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .w-navbar {
    width: 100%;
  }

  .fill-black {
    fill: black;
    fill-opacity: 1;
  }

  .fill-semi-black {
    fill: black;
    fill-opacity: 0.5;
  }

  .transition-fill-opacity {
    transition-property: fill-opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .leading-0 {
    line-height: 0;
  }

  .translate-y-minus-50 {
    transform: translateY(-50%);
  }

  .translate-y-minus-25 {
    transform: translateY(-25%);
  }

  .w-container {
    width: 100%;
  }

  .snap-x-mandatory {
    scroll-snap-type: x mandatory;
  }

  .snap-center {
    scroll-snap-align: center;
  }

  .snap-stop-always {
    scroll-snap-stop: always;
  }

}

@screen xl {

  .w-navbar {
    @apply w-72;
  }

  .w-container {
    width: 50rem;
  }

}
